* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
}

/* Sidebar styling */
.sidebar {
  width: 220px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  height: 835px;
}

.sidebar .profile {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .profile img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.sidebar .profile h3 {
  margin: 10px 0;
}

.sidebar .profile p {
  color: #adb5bd;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 35px 0;
  color: #f8f9fa;
  cursor: pointer;
  border-bottom: 1px solid #495057;
  text-align: center;
  text-decoration: none;
}

.sidebar ul li.active, 
.sidebar ul li:hover {
  background-color: #495057;
  text-decoration: none;
}

/* Main content styling */
.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
}

.main-content {
  padding: 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  height: 750px;
}

.reservation-section h2 {
  margin-bottom: 20px;
  color: #333;
}

.room-info, .customer-info {
  display: flex;
  flex-wrap: wrap;
  
}

.form-group {
  margin-right: 20px;
  margin-bottom: 20px;
  flex-basis: 45%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.price-details {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.submit-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  float: right;
}

.user-menu img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right ;
}
